body {
    height: 100%;
    width: 100%;
}

.container {
    width: 600px;
    height: 150px;
    border: 2px solid gray;
    margin: 200px auto;
    display: flex;
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 25px 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#box1.box {
    background-color: #5bc0eb;
}

#box2.box {
    background-color: #8a8e3b;
}

#box3.box {
    background-color: #9bc53d;
}

#box4.box {
    background-color: #e55934;
}

#box5.box {
    background-color: #fa7921;
}

body.select,
#box1.box.select,
#box2.box.select,
#box3.box.select,
#box4.box.select,
#box5.box.select {
    cursor: move;
}