body {
  background: lightblue;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
}
.flag {
  text-align: center;
  background: lightskyblue;
  margin: 1em;
}
.ivory_coast {
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to right, #f38d39 0%, #f38d39 33.3%, white 33.3%, white 66.6%, #339d10 66.6%, #339d10);
}
.rehoboth {
  height: 50px;
  width: 100px;
  margin: 10px;
  border: 25px solid black;
  background: linear-gradient(to bottom, red 0%, red, 25%, transparent 25%, transparent 75%, red 75%, red), linear-gradient(to right, red 0%, red 20%, white 20%, white 80%, red 80%, red);
}
.kuwait {
  height: 32.5px;
  width: 143px;
  margin: 10px;
  border: 52px solid black;
  border-top-width: 33px;
  border-bottom-width: 33px;
  border-top-color: #007a3d;
  border-right: transparent;
  border-bottom-color: #ce1126;
  background: white;
}
.czech {
  height: 0px;
  width: 100px;
  margin: 10px;
  border: 50px solid #11457e;
  border-bottom: 50px solid red;
  border-right: 0px solid red;
  border-top: 50px solid white;
}
.finland {
  height: 110px;
  width: 180px;
  margin: 10px;
  background: linear-gradient(to bottom, transparent 0%, transparent 36%, #003399 36%, #003399 64%, transparent 64%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 28%, #003399 28%, #003399 45%, transparent 45%, transparent 100%), white;
}
.namibia {
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(148deg, #000099 0%, #000099 39%, white 39%, white 42%, red 42%, red 58%, white 58%, white 61%, green 61%, green 100%);
}
.namibia::before {
  content: url("nam_flag_sym.svg");
  position: relative;
  top: 10px;
  left: 15px;
}
.iceland {
  height: 100px;
  width: 127px;
  margin: 10px;
  background: linear-gradient(to bottom, transparent 44%, #d3212a 44%, #d3212a 55%, transparent 55%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 32%, #d3212a 32%, #d3212a 40%, transparent 40%, transparent 100%), linear-gradient(to right, transparent 28%, white 28%, white 44%, transparent 44%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 39%, white 39%, white 61%, transparent 61%, transparent 100%), #00338d;
}
.indonesia {
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, #cc0c2f 0%, #cc0c2f 50%, transparent 50%, transparent 100%), white;
}
.netherlands {
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, #cc0c2f 0%, #cc0c2f 33.3%, transparent 33.3%, transparent 66.6%, #0039a7 66.6%, #0039a7 100%), white;
}
.norway {
  height: 100px;
  width: 138px;
  margin: 10px;
  background: linear-gradient(to right, transparent 0%, transparent 32%, #002469 32%, #002469 41%, transparent 41%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 43.75%, #002469 43.75%, #002469 56.25%, transparent 56.25%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 27.2%, white 27.2%, white 45.45%, transparent 45.45%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 37.5%, white 37.5%, white 62.5%, transparent 62.5%, transparent 100%), #f42938;
}
.nigeria {
  height: 75px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to right, transparent 0%, transparent 33.3%, white 33.3%, white 66.6%, transparent 66.6%, transparent 100%), #008443;
}
.bahamas {
  position: relative;
  height: 75px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, #007a94 0%, #007a94 33.3%, #ffc92f 33.3%, #ffc92f 66.6%, #007a94 66.6%, #007a94 100%);
}
.bahamas::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 75px;
  width: 64.95px;
  background: black;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.benin {
  position: relative;
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, #cc0c2f 0%, #cc0c2f 50%, #fddc42 50%, #fddc42 100%);
}
.benin::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 60px;
  background: #00ae42;
}
.wallis_futuna {
  position: relative;
  height: 120px;
  width: 180px;
  margin: 10px;
  background: #d81c3f;
}
.wallis_futuna::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 60px;
  background: linear-gradient(to right, #00325a 33.3%, white 33.3%, white 66.6%, #d81c3f 66.6%);
  border: 1px solid white;
  border-left: transparent;
  border-top: transparent;
}
.wallis_futuna::after {
  content: "";
  position: absolute;
  background: linear-gradient(135deg, transparent 0%, transparent 42.4%, #d81c3f 42.4%, #d81c3f 57.7%, transparent 57.6%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 42.4%, #d81c3f 42.4%, #d81c3f 57.7%, transparent 57.6%, transparent 100%), white;
  top: 40px;
  left: 100px;
  height: 40px;
  width: 40px;
}
.qatar {
  position: relative;
  height: 100px;
  width: 255px;
  margin: 10px;
  background: #911c3c;
}
.qatar::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  height: 100px;
  width: 102px;
  clip-path: polygon(0% 0%, 80% 0%, 100% 5.555%, 80% 11%, 100% 16.5%, 80% 22%, 100% 27.5%, 80% 33%, 100% 38.5%, 80% 44%, 100% 49.6%, 80% 55.2%, 100% 61%, 80% 66.8%, 100% 72.5%, 80% 78%, 100% 82.5%, 80% 89%, 100% 94.5%, 80% 100%, 0% 100%);
}
.western_sahara {
  position: relative;
  height: 126px;
  width: 252px;
  margin: 10px;
  background: linear-gradient(to bottom, black 0%, black 33.3%, white 33.3%, white 66.6%, #007836 66.6%, #007836 100%);
}
.western_sahara::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 126px;
  width: 84px;
  background: #e60d2e;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.western_sahara::after {
  content: url("west_sah_sym.svg");
  position: absolute;
  top: -190px;
  left: -120px;
  stroke: #e60d2e;
  fill: #e60d2e;
  background: transparent;
  transform: scale(0.12);
}
.greece {
  height: 100px;
  width: 150px;
  margin: 10px;
  position: relative;
  background: repeating-linear-gradient(to bottom, #0039a7 0%, #0039a7 11.11%, white 11.11%, white 22.22%);
}
.greece::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 55.5px;
  width: 55.55px;
  background: linear-gradient(to bottom, transparent 40%, white 40%, white 60%, transparent 60%), linear-gradient(to right, transparent 40%, white 40%, white 60%, transparent 60%), #0039a7;
}
.guyana {
  height: 150px;
  width: 250px;
  margin: 10px;
  position: relative;
  background: #00ae42;
}
.guyana::before {
  content: "";
  position: absolute;
  background: linear-gradient(343deg, white 0%, white 36%, transparent 36%), linear-gradient(197deg, white 0%, white 36%, transparent 36%), #ffd900;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 250px;
  clip-path: polygon(0% 0%, 100% 50%, 0 100%);
}
.guyana::after {
  content: "";
  position: absolute;
  background: linear-gradient(330deg, black 0%, black 36%, transparent 36%), linear-gradient(210deg, black 0%, black 36%, transparent 36%), #cc0c2f;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 130px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.greenland {
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, white 50%, #e80033 50%, #e80033 100%);
  position: relative;
}
.greenland::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 25px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  background: linear-gradient(to bottom, #e80033 50%, white 50%, white 100%);
}
.palau {
  height: 100px;
  width: 160px;
  margin: 10px;
  position: relative;
  background: #4891dc;
}
.palau::before {
  content: "";
  position: absolute;
  background: #f7ec5b;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  top: 20px;
  left: 40px;
}
.palmyra_atoll {
  height: 100px;
  width: 160px;
  margin: 10px;
  position: relative;
  background: linear-gradient(to bottom, #cc0c2f 50%, #0046ae 50%, #0046ae 83.5%, #ffd600 83.5%);
}
.palmyra_atoll::before {
  content: "";
  position: absolute;
  background: #ffd600;
  height: 75px;
  width: 75px;
  border-radius: 37.5px;
  top: 4px;
  left: 37.5px;
}
.palmyra_atoll::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 160px;
  top: 0px;
  left: 0px;
  background: linear-gradient(to bottom, transparent 50%, #0046ae 50%, #0046ae 83.5%, #ffd600 83.5%);
}
.burundi {
  height: 150px;
  width: 250px;
  margin: 10px;
  background: linear-gradient(30deg, transparent 115px, white 115px, white 140px, transparent 140px), linear-gradient(150deg, #cc0c2f 0px, #cc0c2f 115px, white 115px, white 140px, #cc0c2f 140px);
  position: relative;
}
.burundi::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 250px;
  clip-path: polygon(0% 10%, 40% 50%, 60% 50%, 100% 10%, 100% 90%, 60% 50%, 40% 50%, 0% 90%);
  background: #2db135;
}
.burundi::after {
  content: "";
  position: absolute;
  height: 85px;
  width: 85px;
  top: 32.5px;
  left: 82.5px;
  border-radius: 42.5px;
  background: white;
}
