.heightToWidthRatio(@height: 90px, @width: 150px) {
    height: @height;
    width: @width;
}

body {
    background: lightblue;
}

.margins {
    margin: 10px;
}

.borders(@width: 25px, @style: solid, @color: white) {
    border: @width @style @color;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
}

.flag {
    text-align: center;
    background: lightskyblue;
    margin: 1em;
}

.ivory_coast {
    .heightToWidthRatio(100px, 150px);
    .margins;
    background: linear-gradient(to right, #f38d39 0%, #f38d39 33.3%, white 33.3%, white 66.6%, #339d10 66.6%, #339d10);
}

.rehoboth {
    .heightToWidthRatio(50px, 100px);
    .margins;
    .borders(25px, solid, black);
    background: linear-gradient(to bottom, red 0%, red, 25%, transparent 25%, transparent 75%, red 75%, red), linear-gradient(to right, red 0%, red 20%, white 20%, white 80%, red 80%, red);
}

.kuwait {
    .heightToWidthRatio(32.5px, 143px);
    .margins;
    .borders(52px, solid, black);
    border-top-width: 33px;
    border-bottom-width: 33px;
    border-top-color: #007a3d;
    border-right: transparent;
    border-bottom-color: #ce1126;
    background: white;
}

.czech {
    .heightToWidthRatio(0px, 100px);
    .margins;
    .borders(50px, solid, #11457e);
    border-bottom: 50px solid red;
    border-right: 0px solid red;
    border-top: 50px solid white;
}

.finland {
    .heightToWidthRatio(110px, 180px);
    .margins; // #003580
    background: linear-gradient(to bottom, transparent 0%, transparent 36%, #003399 36%, #003399 64%, transparent 64%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 28%, #003399 28%, #003399 45%, transparent 45%, transparent 100%), white;
}

.namibia {
    .heightToWidthRatio(100px, 150px);
    .margins; // #003580
    background: linear-gradient(148deg, #000099 0%, #000099 39%, white 39%, white 42%, red 42%, red 58%, white 58%, white 61%, green 61%, green 100%);
    &::before {
        content: url("namibianFlagSymbol.svg");
        position: relative;
        top: 10px;
        left: 15px;
    }
}

.iceland {
    .heightToWidthRatio(100px, 127px);
    .margins;
    background: linear-gradient(to bottom, transparent 44%, #d3212a 44%, #d3212a 55%, transparent 55%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 32%, #d3212a 32%, #d3212a 40%, transparent 40%, transparent 100%), linear-gradient(to right, transparent 28%, white 28%, white 44%, transparent 44%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 39%, white 39%, white 61%, transparent 61%, transparent 100%), #00338d;
}

.indonesia {
    .heightToWidthRatio(100px, 150px);
    .margins;
    background: linear-gradient(to bottom, #cc0c2f 0%, #cc0c2f 50%, transparent 50%, transparent 100%), white;
}

.netherlands {
    .heightToWidthRatio(100px, 150px);
    .margins;
    background: linear-gradient(to bottom, #cc0c2f 0%, #cc0c2f 33.3%, transparent 33.3%, transparent 66.6%, #0039a7 66.6%, #0039a7 100%), white;
}

.norway {
    .heightToWidthRatio(100px, 138px);
    .margins;
    background: linear-gradient(to right, transparent 0%, transparent 32%, #002469 32%, #002469 41%, transparent 41%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 43.75%, #002469 43.75%, #002469 56.25%, transparent 56.25%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 27.2%, white 27.2%, white 45.45%, transparent 45.45%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 37.5%, white 37.5%, white 62.5%, transparent 62.5%, transparent 100%), #f42938;
}

.nigeria {
    .heightToWidthRatio(75px, 150px);
    .margins;
    background: linear-gradient(to right, transparent 0%, transparent 33.3%, white 33.3%, white 66.6%, transparent 66.6%, transparent 100%), #008443;
}

.bahamas {
    position: relative;
    .heightToWidthRatio(75px, 150px);
    .margins;
    background: linear-gradient(to bottom, #007a94 0%, #007a94 33.3%, #ffc92f 33.3%, #ffc92f 66.6%, #007a94 66.6%, #007a94 100%);
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 64.95px;
        height: 75px;
        background: black;
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    }
}

.benin {
    position: relative;
    .heightToWidthRatio(100px, 150px);
    .margins;
    background: linear-gradient(to bottom, #cc0c2f 0%, #cc0c2f 50%, #fddc42 50%, #fddc42 100%);
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 60px;
        height: 100px;
        background: #00ae42;
    }
}

.wallis_futuna {
    position: relative;
    .heightToWidthRatio(120px, 180px);
    .margins;
    background: #d81c3f;
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left:0px;
        height: 40px;
        width: 60px;
        background: linear-gradient(to right, #00325a 33.3%, white 33.3%, white 66.6%, #d81c3f 66.6%);
        border: 1px solid white;
        border-left: transparent;
        border-top: transparent;
    };

    &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background: linear-gradient(135deg, transparent 0%, transparent 42.4%, #d81c3f 42.4%, #d81c3f 57.7%, transparent 57.6%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 42.4%, #d81c3f 42.4%, #d81c3f 57.7%, transparent 57.6%, transparent 100%),white;
        left: 100px;
        top: 40px;
    }
}