body {
  background: lightblue;
}
.margins {
  margin: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
}
.flag {
  text-align: center;
  background: lightskyblue;
  margin: 1em;
}
.ivory_coast {
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to right, #f38d39 0%, #f38d39 33.3%, white 33.3%, white 66.6%, #339d10 66.6%, #339d10);
}
.rehoboth {
  height: 50px;
  width: 100px;
  margin: 10px;
  border: 25px solid black;
  background: linear-gradient(to bottom, red 0%, red, 25%, transparent 25%, transparent 75%, red 75%, red), linear-gradient(to right, red 0%, red 20%, white 20%, white 80%, red 80%, red);
}
.kuwait {
  height: 32.5px;
  width: 143px;
  margin: 10px;
  border: 52px solid black;
  border-top-width: 33px;
  border-bottom-width: 33px;
  border-top-color: #007a3d;
  border-right: transparent;
  border-bottom-color: #ce1126;
  background: white;
}
.czech {
  height: 0px;
  width: 100px;
  margin: 10px;
  border: 50px solid #11457e;
  border-bottom: 50px solid red;
  border-right: 0px solid red;
  border-top: 50px solid white;
}
.finland {
  height: 110px;
  width: 180px;
  margin: 10px;
  background: linear-gradient(to bottom, transparent 0%, transparent 36%, #003399 36%, #003399 64%, transparent 64%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 28%, #003399 28%, #003399 45%, transparent 45%, transparent 100%), white;
}
.namibia {
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(148deg, #000099 0%, #000099 39%, white 39%, white 42%, red 42%, red 58%, white 58%, white 61%, green 61%, green 100%);
}
.namibia::before {
  content: url("namibianFlagSymbol.svg");
  position: relative;
  top: 10px;
  left: 15px;
}
.iceland {
  height: 100px;
  width: 127px;
  margin: 10px;
  background: linear-gradient(to bottom, transparent 44%, #d3212a 44%, #d3212a 55%, transparent 55%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 32%, #d3212a 32%, #d3212a 40%, transparent 40%, transparent 100%), linear-gradient(to right, transparent 28%, white 28%, white 44%, transparent 44%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 39%, white 39%, white 61%, transparent 61%, transparent 100%), #00338d;
}
.indonesia {
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, #cc0c2f 0%, #cc0c2f 50%, transparent 50%, transparent 100%), white;
}
.netherlands {
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, #cc0c2f 0%, #cc0c2f 33.3%, transparent 33.3%, transparent 66.6%, #0039a7 66.6%, #0039a7 100%), white;
}
.norway {
  height: 100px;
  width: 138px;
  margin: 10px;
  background: linear-gradient(to right, transparent 0%, transparent 32%, #002469 32%, #002469 41%, transparent 41%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 43.75%, #002469 43.75%, #002469 56.25%, transparent 56.25%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 27.2%, white 27.2%, white 45.45%, transparent 45.45%, transparent 100%), linear-gradient(to bottom, transparent 0%, transparent 37.5%, white 37.5%, white 62.5%, transparent 62.5%, transparent 100%), #f42938;
}
.nigeria {
  height: 75px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to right, transparent 0%, transparent 33.3%, white 33.3%, white 66.6%, transparent 66.6%, transparent 100%), #008443;
}
.bahamas {
  position: relative;
  height: 75px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, #007a94 0%, #007a94 33.3%, #ffc92f 33.3%, #ffc92f 66.6%, #007a94 66.6%, #007a94 100%);
}
.bahamas::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 64.95px;
  height: 75px;
  background: black;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.benin {
  position: relative;
  height: 100px;
  width: 150px;
  margin: 10px;
  background: linear-gradient(to bottom, #cc0c2f 0%, #cc0c2f 50%, #fddc42 50%, #fddc42 100%);
}
.benin::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 100px;
  background: #00ae42;
}
.wallis_futuna {
  position: relative;
  height: 120px;
  width: 180px;
  margin: 10px;
  background: #d81c3f;
}
.wallis_futuna::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 60px;
  background: linear-gradient(to right, #00325a 33.3%, white 33.3%, white 66.6%, #d81c3f 66.6%);
  border: 1px solid white;
  border-left: transparent;
  border-top: transparent;
}
.wallis_futuna::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, transparent 0%, transparent 42.4%, #d81c3f 42.4%, #d81c3f 57.7%, transparent 57.6%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 42.4%, #d81c3f 42.4%, #d81c3f 57.7%, transparent 57.6%, transparent 100%), white;
  left: 100px;
  top: 40px;
}
.qatar {
  position: relative;
  height: 100px;
  width: 255px;
  margin: 10px;
  background: #911c3c;
}
.qatar::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  width: 102px;
  height: 100px;
  clip-path: polygon(0% 0%, 80% 0%, 100% 5.555%, 80% 11%, 100% 16.5%, 80% 22%, 100% 27.5%, 80% 33%, 100% 38.5%, 80% 44%, 100% 49.6%, 80% 55.2%, 100% 61%, 80% 66.8%, 100% 72.5%, 80% 78%, 100% 82.5%, 80% 89%, 100% 94.5%, 80% 100%, 0% 100%);
}
.western_sahara {
  position: relative;
  height: 252px;
  width: 504px;
  margin: 10px;
  background: linear-gradient(to bottom, black 0%, black 33.3%, white 33.3%, white 66.6%, #007836 66.6%, #007836 100%);
}
.western_sahara::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 168px;
  height: 252px;
  background: #e60d2e;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.western_sahara::after {
  position: absolute;
  top: 126px;
  left: 252px;
  stroke: #e60d2e;
  fill: #e60d2e;
}
.greece {
  height: 100px;
  width: 150px;
  margin: 10px;
  position: relative;
  background: repeating-linear-gradient(to bottom, #0039a7 0%, #0039a7 11.11%, white 11.11%, white 22.22%);
}
.greece::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55.55px;
  height: 55.5px;
  background: linear-gradient(to bottom, transparent 40%, white 40%, white 60%, transparent 60%), linear-gradient(to right, transparent 40%, white 40%, white 60%, transparent 60%), #0039a7;
}
.guyana {
  height: 150px;
  width: 250px;
  margin: 10px;
  position: relative;
  background: #00ae42;
}
.guyana::before {
  position: absolute;
  content: "";
  background: linear-gradient(343deg, white 0%, white 36%, transparent 36%), linear-gradient(197deg, white 0%, white 36%, transparent 36%), #ffd900;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 150px;
  clip-path: polygon(0% 0%, 100% 50%, 0 100%);
}
.guyana::after {
  position: absolute;
  content: "";
  background: linear-gradient(330deg, black 0%, black 36%, transparent 36%), linear-gradient(210deg, black 0%, black 36%, transparent 36%), #cc0c2f;
  top: 0px;
  left: 0px;
  width: 130px;
  height: 150px;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
