body {
  background: black;
}
.container {
  left: 50%;
  width: 250px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.step {
  background: transparent;
}
.step.first {
  border-bottom: 50px solid dimgray;
  width: 250px;
}
.step.second {
  border-bottom: 25px solid #383838;
  border-left: 25px solid black;
  border-right: 25px solid black;
}
.step.third {
  border-bottom: 45px solid dimgray;
  width: 200px;
}
.step.fourth {
  border-bottom: 20px solid #2f2f2f;
  border-left: 20px solid black;
  border-right: 20px solid black;
}
.step.fifth {
  border-bottom: 40px solid dimgray;
  width: 160px;
}
.step.sixth {
  border-bottom: 15px solid #3c3b3b;
  border-left: 15px solid black;
  border-right: 15px solid black;
}
.step.sixth .door {
  margin: 0;
  box-shadow: 2px -3px 30px #FFC107;
  padding: 100px 5px 100px 100px;
  border-bottom-style: inset;
  border-left-style: inset;
  border-top-style: outset;
  border-right-style: outset;
  border-width: 5px;
  border-color: gray;
}
.step.sixth .door .knob {
  width: 10px;
  height: 10px;
  border: 5px outset gray;
  border-radius: 10px;
}
