body {
    margin: 0;
}

.chessboard {
    width: 800px;
    height: auto;
    border: 10px solid black;
    margin: 1em auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.tile {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: dimgray;
    border: 2px solid black;
    text-align: center;
}

.tile.alternate {
    background: saddlebrown;
}

.tile span {
    font-size: 4em;
    line-height: 100px;
    color: wheat;
}

.tile span.rival {
    color: black;
}

.tile span.hide,
.tile.alternate span.hide {
    display: none;
}

@media screen and (max-width: 800px) {
    .chessboard {
        width: 400px;
        height: auto;
        border: 5px solid black;
        margin: 1em auto;
    }
    .tile {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: dimgray;
        border: 1px solid black;
        text-align: center;
    }
    .tile span {
        font-size: 2em;
        line-height: 50px;
        color: wheat;
    }
}