
.outerframe {
    background-color: #1d1a17;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    width: 340px;
}
.frame {
    background-color: #635a4e;
    border-radius: 30px;
    width: 270px;
}

.container {
    border-radius: 30px;
    display: flex;
    height: 200px;
    padding: 10px;
    width: 250px;
}

.controls {
    background-color: #444141;
    border-radius: 30px;
    margin-left: 10px;
    padding: 50px 10px;
    width: 40px;
}

.box {
    width: 100vw;
}

.sound-outlet {
    background-color: #9E9E9E;
    height: 5px;
    margin-top: 5px;
    width: 40px;
}

.circle {
    background-color: white;
    border-radius: 10px;
    height: 20px;
    margin: 20px 10px 10px;
    width: 20px;
}

.gray {
    background-color: gray;
    border-radius: 0px 27px 27px 0px;
}

.yellow {
    background-color: yellow;
    border-radius: 27px 0px 0px 27px;
}

.cyan {
    background-color: cyan;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.magenta {
    background-color: magenta;
}
